/node_modules
.phpunit.result.cache
vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public/node_modules
public/libs
public/dist
app/cloudfront/*
.php-cs-fixer.cache
public/sitemap.xml
.env