<IfModule mod_rewrite.c>
    RewriteEngine On

    # Certifique-se de que a base da URL está correta
    # RewriteBase /

    # Redireciona todas as requisições para a pasta /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

    # Redireciona URLs bonitas (Pretty URLs)
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^\s]*)index\.php [NC]
    RewriteRule ^ %1 [R=301,L]

    # Remove /index.php da URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]

    # Desabilitar listagem de diretórios
    Options -Indexes

    # Bloquear arquivos sensíveis (.env, .git, etc.)
    <FilesMatch "\.(env|config.js|md|gitignore|gitattributes|lock)$">
        Order allow,deny
        Deny from all
    </FilesMatch>

</IfModule>
