<IfModule mod_rewrite.c>
# Isso foi SOMENTE para proteger você de erros 500
# caso seu servidor não tenha o mod_rewrite ativado

RewriteEngine On
# RewriteBase /
# NÃO necessário, a menos que você esteja usando mod_alias para redirecionar

# Direciona todas as solicitações para a pasta /public
RewriteCond %{REQUEST_URI} !/public
RewriteRule ^(.*)$ public/$1 [L]

# Direciona todas as solicitações para URLs amigáveis
RewriteCond %{THE_REQUEST} ^.*/index\.php
RewriteRule ^(.*)index.php$ /$1 [R=301,L]

# Desativa a listagem de diretórios
Options -Indexes

# Bloqueia arquivos que precisam ser ocultos, especifique a extensão .example do arquivo
<Files ~ "\.(env|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</Files>

</IfModule>
