.profile-cover-bg {
  height: 200px;
}

.card-img {
  border-radius: 0px !important;
}
.cropImageModal {
  background-color: black;
  height: 300px;
  width: 200px;
}

@media (max-width: 767px) {
  .avatar-holder,
  .avatar-holder img {
    width: 130px;
    height: 130px;
  }
}
.description-content p {
  margin-bottom: 0.5rem;
}
.description-content p:last-child {
  margin-bottom: 5px;
}

.description-content p {
  margin-bottom: 0.3rem;
}

/* Adicionados por mim no perfil*/

.description-content {
  height: auto;
  word-wrap: break-word;
  min-height: 50px;
}

.bioMoreContentArea {
  margin-top: 10px;
}

.perfilPostSeparetor {
  height: 20px;
}

.holder {
  margin-bottom: 10px;
  position: relative;
  bottom: 40px;
}

.btn-follow-user {
  align-items: center;
  border-radius: 20px;
  width: 80px;
  justify-content: center;
}

.btnFollow {
  background-color: #57319a;
  color: white;
  transition: 0.1s linear;
}

.btnFollow:hover {
  background-color: #57319a18;
  color: #57319a;
}
.btnUnfollow {
  color: #57319a;
  width: 95px;
  transition: 0.1s linear;
}

.btnUnfollow:hover {
  background-color: #57319a;
  color: white;
}

.followAndFollowingArea {
  height: 70px;
}
.messageArea {
  position: relative;
  bottom: 100px;
}
