.table-wrapper {
  height: 100%;
}

.dashboardPage {
  height: 100vh;
  overflow-y:auto;
}

.dashboardArea {
  overflow-x: hidden;
}

.referralList {
  width: 100vw;
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.107);
}

.accordion {
  width: 700px;
  margin-left: 20px;
}

.card-header {
  background-color: #F9F9F9;
}

.paymentsTable {
  overflow-x: scroll;
  overflow-y: hidden;
}

.profileAvatar-settings {
  width: 4rem;
  height: 4rem;
}

.nav {
  flex-wrap: nowrap;
}

.setting-menu-mobile .mCSB_container {
  display: flex;
}

.verify-form .dropzone {
  min-height: 100px !important;
}

.verify-form .dropzone .dz-preview.dz-image-preview {
  background: transparent !important;
}

.verify-form .dropzone .dz-preview:hover .dz-image img {
  -webkit-filter: blur(2px) !important;
  filter: blur(2px) !important;
}

.verify-form .dropzone .dz-preview .dz-filename {
  display: none !important;
}

.verify-form .dropzone .dz-preview {
  min-height: unset;
}

.manual-payment-uploader {
  min-height: 100px !important;
}

.profile-cover-bg .h-pill,
.avatar-holder .h-pill {
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .settings-content {
    border: none !important;
  }
}

.dz-filename {
  display: none;
}

.fa-details-label {
  margin-left: -36px;
}

.table-wrapper .rounded-circle.user-avatar {
  width: 36px;
  height: 36px;
}

.CodeMirror,
.CodeMirror-scroll {
  min-height: 100px;
}

select {
  border: none;
  border-bottom: 1px solid rgb(33, 33, 33);
  outline: none;
  padding: 5px;
  font-weight: 600;
}

.table-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background-color: #cccccc;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #cccccc;
}

.table-wrapper::-webkit-scrollbar-track-piece {
  background: #cccccc;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #57319a;
  border-radius: 5px;
}

.internTable {
  width: 1000px;
}

/*dashboardCSS*/


.cardMetric {
  padding: 30px;
  height: 150px;
  width: 320px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}

.headerCardMetric {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.headerCardMetric .voyager-eye {
  color: #8c3ba5;
}

.dashCardTitle {
  font-size: 16px;
  color: black;
  font-weight: lighter;
}

.nothingData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashCardMetric {
  font-size:max(2vw,27px);
  color: black;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.cardMetricTextLabel {
  color: black;
  font-weight: bold;
}

.dashCardLabel {
  color: #683ab7c2;
  font-size: 12px;
  font-weight: 800;
  position: relative;
  bottom: 15px;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 26px;
}

.div4 {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 26px;
}

ion-icon {
  color: #673ab7;
  font-size: 20px;
}

.blur-effect {
  filter: blur(5px);
  transition: 0.5s linear;
}

.no-blur-effect {
  filter: blur(0px);
  transition: 0.5s linear;
}

.metricsBtn {
  position: absolute;
  filter: blur(0px);
  top: 30px;
  right: 25px;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  z-index: 1;
}

.btnCopy ion-icon {
  font-size: 1rem; /* Tamanho do ícone */
  vertical-align: middle; /* Alinha o ícone verticalmente ao centro */
}


.indicationBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.referralArea {
  width: 100%;
}

.referralLink {
  padding: 22px;
  border-radius: 25px;
  font-size: 14px;
  border: 1px solid #673ab7;
  font-weight: 600;
  color: #683ab7;
  overflow: hidden;
}

.referralLink[readonly] {
  background-color: transparent; /* Define o fundo como branco */
}


.withdrawalBtnDash {
  background-color: #683ab7;
  color: white;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  padding: 15px;
  border-radius:25px;
}

.withdrawalBtnDash:hover {
  color: white;
}


.typeSelect,
.statusSelect {
  width: 100%;
  font-size: 15px;
}

.btnCopy {
  position: absolute;
  right: 40px; /* Distância do botão em relação ao input */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta o alinhamento vertical */
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #673ab7;
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

.btnCopy:hover {
  background-color: transparent;
}

.btnCopy::active {
  background-color: transparent;
}

.btnCopy:target {
  background-color: transparent;
}

.badgeDash {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-radius: 25px;
}


.btnAcordion {
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
}


.dashboardInfluencerArea {
  display: flex;
  justify-content: center;
  height: 480px; 
  width: 100vw;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.148);
  flex-direction: column;
}

.dashboardInfluencer {
  width: 100%;
  height: 200px;
  gap: 5px;
}

.card1 {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  border-left: 2px solid #683ab7;
  background-color: #683ab70a;
}

.card1 p {
    color:#683ab7;
}

.card1 ion-icon {
    color: #683ab7;
}

.card2 {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 2px solid #683ab7;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #683ab70a;
}

.card2 p {
  color: #683ab7;
}


.card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collapse {
  width: 100%
}

.filterBar {
  display: flex;
  gap:10px;
  height: 40px;
  width: 25vw;
}

.filterArea {
  height: 40px;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}

.badge {
  border-radius: 25px;
  font-size: 8px;
}

.badgeFilterStatus,
.badgeFilterType,.badgeFilterDate {
  padding: 5px;
  width: 130px;
  color: white;
  border-radius: 20px;
  height: 40px;
  display: none;
  align-items: center;
  font-weight: 500;
  font-size: 14px;;
}

.badgeFilterType {
  border: 1px solid #673ab7;
  color: #673ab7;
}

.badgeFilterDate {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 190px;
  color: #673ab7;
  border-radius: 20px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #673ab7;
}

.filterBtn {
  padding: 10px;
  background-color:#673ab7;
  border: none;
  border-radius: 20px;
}

.filterBtn ion-icon {
  color: white;
}

.cardFilter {
  display: flex;
}

.btnCleanFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height:40px;
  width:40px;
  background-color: transparent;
  border:1px solid #673ab7;
}

.btnFilterArea {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: end;
}


.typeArea {
  width: 100%;
}

.dateArea {
  width: 100%;
  display: flex;
  gap:15px
}

.statusArea {
  width: 100%;
}

.btnFilter {
  border-radius:25px;
  font-size: 14px;
  width: 100px;
  border: none;
  background-color: #673ab7;
  color: white;
}


.filterInput {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.186);
  color: rgba(0, 0, 0, 0.847);
  padding: 5px;
  font-weight: 300;
  border-radius: 5px;
  outline: none;
}

.icon-white {
  color: white; 
  font-size: 20px;
}

.headerCard {
  width: 100%;
  align-items: center;
}

.withdrawalIcon {
  color: white;
  font-size: 16px;
}


/* Dispositivos móveis (até 575px) */
@media (max-width: 575.98px) {

  .dashboardInfluencerArea {
    height: 950px;
  }
    .dashboardInfluencer {
      flex-direction: column;
      height: 100%;
      align-items: center;
    }

    .card1,.card2 {
      margin-left: 100px;
      margin-right: 100px;
      width: 300px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .dashRow {
      margin-top: 10px;
    }

    .referralLink {
      padding-right: 65px;
    }
    
}

/* Tablets (de 576px a 767px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .dashboardInfluencerArea {
    height: 950px;
  }
    .dashboardInfluencer {
      flex-direction: column;
      height: 100%;
      align-items: center;
    }

    .card1,.card2 {
      margin-left: 100px;
      margin-right: 100px;
      width: 300px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .dashRow {
      margin-top: 10px;
    }

    .referralLink {
      padding-right: 65px;
    }
}

/* Desktops pequenos (de 768px a 991px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .dashboardInfluencerArea {
    height: 950px;
  }
    .dashboardInfluencer {
      flex-direction: column;
      height: 100%;
      align-items: center;
    }

    .card1,.card2 {
      margin-left: 100px;
      margin-right: 100px;
      width: 300px;
      margin-top: 10px;
      margin-bottom: 10px;
      position: relative;
      right: 20px;
    }

    .dashRow {
      margin-top: 10px;
    }

    .referralLink {
      padding-right: 65px;
    }
}

/* Desktops grandes (acima de 992px) */
@media (min-width: 992px) {
  
}