.table-wrapper {
  height: 600px;
}

.paymentsTable {
  overflow-x: scroll;
  overflow-y: hidden;
}

.profileAvatar-settings {
  width: 4rem;
  height: 4rem;
}

.nav {
  flex-wrap: nowrap;
}

.setting-menu-mobile .mCSB_container {
  display: flex;
}

.verify-form .dropzone {
  min-height: 100px !important;
}

.verify-form .dropzone .dz-preview.dz-image-preview {
  background: transparent !important;
}

.verify-form .dropzone .dz-preview:hover .dz-image img {
  -webkit-filter: blur(2px) !important;
  filter: blur(2px) !important;
}

.verify-form .dropzone .dz-preview .dz-filename {
  display: none !important;
}

.verify-form .dropzone .dz-preview {
  min-height: unset;
}

.manual-payment-uploader {
  min-height: 100px !important;
}

.profile-cover-bg .h-pill,
.avatar-holder .h-pill {
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .settings-content {
    border: none !important;
  }
}

.dz-filename {
  display: none;
}

.fa-details-label {
  margin-left: -36px;
}

.table-wrapper .rounded-circle.user-avatar {
  width: 36px;
  height: 36px;
}

.CodeMirror,
.CodeMirror-scroll {
  min-height: 100px;
}

select {
  border: none;
  border-bottom: 1px solid rgb(33, 33, 33);
  outline: none;
  padding: 5px;
  font-weight: 600;
}

.table-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background-color: #CCCCCC;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #CCCCCC;
}

.table-wrapper::-webkit-scrollbar-track-piece {
  background: #CCCCCC;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background:#57319A;
  border-radius: 5px;
}

.internTable {
  width: 1000px;
}