.table-wrapper {
  height: 100%;
}

.dashboardPage {
  height: 100vh;
  overflow-y:auto;
}

.dashboardArea {
  overflow-x: hidden;
}

.referralList {
  width: 100vw;
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.107);
}

.accordion {
  width: 700px;
  margin-left: 20px;
}

.card-header {
  background-color: #F9F9F9;
}

.paymentsTable {
  overflow-x: scroll;
  overflow-y: hidden;
}

.profileAvatar-settings {
  width: 4rem;
  height: 4rem;
}

.nav {
  flex-wrap: nowrap;
}

.setting-menu-mobile .mCSB_container {
  display: flex;
}

.verify-form .dropzone {
  min-height: 100px !important;
}

.verify-form .dropzone .dz-preview.dz-image-preview {
  background: transparent !important;
}

.verify-form .dropzone .dz-preview:hover .dz-image img {
  -webkit-filter: blur(2px) !important;
  filter: blur(2px) !important;
}

.verify-form .dropzone .dz-preview .dz-filename {
  display: none !important;
}

.verify-form .dropzone .dz-preview {
  min-height: unset;
}

.manual-payment-uploader {
  min-height: 100px !important;
}

.profile-cover-bg .h-pill,
.avatar-holder .h-pill {
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .settings-content {
    border: none !important;
  }
}

.dz-filename {
  display: none;
}

.fa-details-label {
  margin-left: -36px;
}

.table-wrapper .rounded-circle.user-avatar {
  width: 36px;
  height: 36px;
}

.CodeMirror,
.CodeMirror-scroll {
  min-height: 100px;
}

select {
  border: none;
  border-bottom: 1px solid rgb(33, 33, 33);
  outline: none;
  padding: 5px;
  font-weight: 600;
}

.table-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background-color: #cccccc;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #cccccc;
}

.table-wrapper::-webkit-scrollbar-track-piece {
  background: #cccccc;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #57319a;
  border-radius: 5px;
}

.internTable {
  width: 1000px;
}

/*dashboardCSS*/


.cardMetric {
  padding: 30px;
  height: 150px;
  width: 320px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}

.headerCardMetric {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.headerCardMetric .voyager-eye {
  color: #8c3ba5;
}

.dashCardTitle {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.dashCardMetric {
  font-size: 35px;
  color: black;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.cardMetricTextLabel {
  color: black;
  font-weight: bold;
}

.dashCardLabel {
  color: #683ab7c2;
  font-size: 12px;
  font-weight: 800;
  position: relative;
  bottom: 15px;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 26px;
}

.div4 {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 26px;
}

ion-icon {
  color: #673ab7;
  font-size: 20px;
}

.blur-effect {
  filter: blur(5px);
  transition: 0.5s linear;
}

.no-blur-effect {
  filter: blur(0px);
  transition: 0.5s linear;
}

.metricsBtn {
  position: absolute;
  filter: blur(0px);
  top: 30px;
  right: 25px;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  z-index: 1;
}

.btnCopy ion-icon {
  font-size: 1rem; /* Tamanho do ícone */
  vertical-align: middle; /* Alinha o ícone verticalmente ao centro */
}


.indicationBox {
  width: 100%;
  min-width: 300px;
}

.referralLink {
  padding: 22px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.154) 0px 5px 10px;
  border-radius: 25px;
  min-width: 100%;
  border: none;
  color: #683ab7a8;
  font-weight: 600;
}

.withdrawalBtnDash {
  width: 130px;
}

.typeSelect,
.statusSelect {
  width: 200px;
}

.btnCopy {
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #673ab7;
}

.btnCopy:hover {
  background-color: transparent;
}

.btnCopy::active {
  background-color: transparent;
}

.btnCopy:target {
  background-color: transparent;
}

.badgeDash {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-radius: 25px;
}

.btnFilter {
  background-color: #673ab7;
  color: white;
  border: none;
  border-radius: 25px;
  height: 40.39px;
  width: 100px;
  font-weight: 600;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.154) 0px 5px 10px;
}

.btnAcordion {
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
}


.dashboardInfluencerArea {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.dashboardInfluencer {
  background-color: green;
  width: 550px;
}

.card1 {
  width: 50%;
  background-color:#673AB7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card1 p {
  color: white;
}

.card1 ion-icon {
  color: white;
}

.card2 {
  width: 50%;
  background-color:rgb(253, 253, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card2 p {
  color: #673AB7;
}


.card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collapse {
  width: 400px;
}